<!doctype html>
<html th:lang="|ja|"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:charset="|utf-8|">
    <meta th:content="|initial-scale=1, width=device-width|"
          th:name="|viewport|">
    <title th:text="|vec: virtual e-commerce|"></title>
    <link th:href="@{/css/tailwind.min.css}"
          th:rel="|stylesheet|">
</head>
<body th:class="|bg-gray-50 min-h-screen text-gray-900|">
<header th:class="|bg-yellow-500 flex h-12 items-center px-4|">
    <h1>
        <a th:class="|bg-gray-50 px-4 py-0.5 rounded text-yellow-500 text-xl|"
           th:href="@{/}"
           th:text="|vec|"></a>
    </h1>
    <div th:class="|flex-1|"></div>
    <div th:if="${principal == null}">
        <a th:class="|text-gray-50|"
           th:href="@{/sign-in}"
           th:text="|サインイン|"></a>
    </div>
    <div th:if="${principal != null}">
        <form th:action="@{/sign-out}"
              th:method="|post|">
            <button th:class="|focus:outline-none text-gray-50|"
                    th:text="|サインアウト|"
                    th:type="|submit|"></button>
        </form>
    </div>
</header>
<main th:replace="~{${template}}">
</main>
</body>
</html>
