<main th:class="|mb-40 mt-8 mx-auto w-11/12|"
      xmlns:th="http://www.thymeleaf.org">
    <h2 th:class="|text-xl|"
        th:text="|カート|"></h2>
    <div th:class="|flex|">
        <div th:class="|flex-1|">
            <div th:class="|bg-white m-2 p-4 rounded text-lg|"
                 th:each="cartProduct : ${cartProductList}">
                <p th:text="${cartProduct.name}"></p>
                <div th:class="|flex justify-between|">
                    <p th:class="|text-sm|"
                       th:text="|¥ ${cartProduct.total} (税込)|"></p>
                    <p th:class="|text-sm|" th:text="|${cartProduct.quantity} 個|"></p>
                </div>
            </div>
        </div>
        <div th:class="|bg-white m-2 p-4 rounded text-right w-80|">
        </div>
    </div>
</main>
