<main th:class="|mb-40 mt-8 mx-auto w-11/12|"
      xmlns:th="http://www.thymeleaf.org">
    <div th:class="|mt-16 mx-auto w-96|">
        <h2 th:class="|text-xl|"
            th:text="|パスワードの変更|"></h2>
        <form th:action="@{/account/password}"
              th:class="|mt-8|"
              th:method="|post|"
              th:object="${passwordForm}">
            <div th:class="|mt-4|">
                <label th:class="|block mb-1 text-gray-600 text-sm|"
                       th:for="|currentPassword|"
                       th:text="|現在のパスワード|"></label>
                <input th:autocomplete="|current-password|"
                       th:class="|border border-gray-300 focus:border-yellow-500 focus:outline-none h-9 px-4 rounded w-full|"
                       th:field="*{currentPassword}"
                       th:type="|password|">
                <p th:class="|mt-1 text-red-800 text-xs|"
                   th:errors="*{currentPassword}"></p>
            </div>
            <div th:class="|mt-4|">
                <label th:class="|block mb-1 text-gray-600 text-sm|"
                       th:for="|password|"
                       th:text="|新しいパスワード|"></label>
                <input th:autocomplete="|new-password|"
                       th:class="|border border-gray-300 focus:border-yellow-500 focus:outline-none h-9 px-4 rounded w-full|"
                       th:field="*{newPassword}"
                       th:type="|password|">
                <p th:class="|mt-1 text-red-800 text-xs|"
                   th:errors="*{newPassword}"></p>
            </div>
            <div th:class="|mt-4|">
                <label th:class="|block mb-1 text-gray-600 text-sm|"
                       th:for="|passwordConfirmation|"
                       th:text="|新しいパスワード（確認）|"></label>
                <input th:autocomplete="|new-password|"
                       th:class="|border border-gray-300 focus:border-yellow-500 focus:outline-none h-9 px-4 rounded w-full|"
                       th:field="*{newPasswordConfirmation}"
                       th:type="|password|">
                <p th:class="|mt-1 text-red-800 text-xs|"
                   th:errors="*{newPasswordConfirmation}"></p>
            </div>
            <div th:class="|mt-6 text-right|">
                <button th:class="|bg-yellow-500 focus:outline-none h-9 px-4 rounded text-gray-50|"
                        th:text="|変更|"
                        th:type="|submit|"></button>
            </div>
        </form>
    </div>
</main>
