<main th:class="|mb-40 mt-8 mx-auto w-11/12|"
      xmlns:th="http://www.thymeleaf.org">
    <h2 th:class="|text-xl|"
        th:text="|注文履歴|"></h2>
    <div th:class="|flex|">
        <div th:class="|flex-1|">
            <a th:class="|bg-white block m-2 p-4 rounded text-lg|"
               th:each="order : ${orderList}"
               th:href="@{/order/{id}(id=${order.id})}">
                <p th:text="${#temporals.format(order.orderedDate)}"></p>
                <p th:class="|text-sm|"
                   th:text="|¥ ${order.total} (税込)|"></p>
            </a>
        </div>
    </div>
</main>
